.DS_Store
node_modules
dist
.temp
.cache
*.log

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# use only npm
yarn.lock
.npmrc
.yarnrc.yml

# Nuxt dev/build outputs
.output
.nuxt

# Corn packages
_corn