@rhinos-solutions:registry=https://npm.pkg.github.com/rhinos-solutions
//npm.pkg.github.com/:_authToken=RHINOS_SOLUTIONS_TOKEN

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FORTAWESOME_TOKEN
