// merci de générer vos dix couleurs avec l'outils en ligne https://mdigi.tools/color-shades

$corn_primary-50 : #eafbf7;
$corn_primary-100 : #bff2e6;
$corn_primary-200 : #95ead5;
$corn_primary-300 : #6ae1c5;
$corn_primary-400 : #40d9b4;
$corn_primary-500 : #26bf9b;
$corn_primary-600 : #1e9578;
$corn_primary-700 : #156a56;
$corn_primary-800 : #0d4034;
$corn_primary-900 : #041511;

$corn_secondary-50 : #e5f7ff;
$corn_secondary-100 : #b3e7ff;
$corn_secondary-200 : #80d7ff;
$corn_secondary-300 : #4dc7ff;
$corn_secondary-400 : #1ab7ff;
$corn_secondary-500 : #009de6;
$corn_secondary-600 : #007ab3;
$corn_secondary-700 : #005780;
$corn_secondary-800 : #00344d;
$corn_secondary-900 : #00111a;

//WARNING COLOR PALETTE
$corn_warning_50:#fefae6;
$corn_warning_100:#fdefb4;
$corn_warning_200:#fce482;
$corn_warning_300:#fbd950;
$corn_warning_400:#face1e;
$corn_warning_500:#e1b505;
$corn_warning_600:#af8c04;
$corn_warning_700:#7d6403;
$corn_warning_800:#4b3c02;
$corn_warning_900:#4b3c02;

//SUCCESS COLOR PALETTE
$corn_success_50:#e9fbf0;
$corn_success_100:#bef3d2;
$corn_success_200:#93ebb3;
$corn_success_300:#68e395;
$corn_success_400:#3ddc77;
$corn_success_500:#23c25d;
$corn_success_600:#1c9749;
$corn_success_700:#146c34;
$corn_success_800:#0c411f;
$corn_success_900:#04160a;

//DANGER COLOR PALETTE
$corn_danger_50:#fee7e7;
$corn_danger_100:#fbb6b6;
$corn_danger_200:#f98585;
$corn_danger_300:#f75555;
$corn_danger_400:#f42424;
$corn_danger_500:#db0b0b;
$corn_danger_600:#aa0808;
$corn_danger_700:#7a0606;
$corn_danger_800:#490404;
$corn_danger_900:#180101;

//INFO COLOR PALETTE
$corn_info_50:#e6f1fe;
$corn_info_100:#b5d5fd;
$corn_info_200:#83b9fb;
$corn_info_300:#529dfa;
$corn_info_400:#2081f8;
$corn_info_500:#0768df;
$corn_info_600:#0551ad;
$corn_info_700:#043a7c;
$corn_info_800:#02234a;
$corn_info_900:#010c19;

$corn_gris_50:#f8fafc;
$corn_gris_100:#f1f5f9;
$corn_gris_200:#e2e8f0;
$corn_gris_300:#cbd5e1;
$corn_gris_400:#94a3b8;
$corn_gris_500:#64748b;
$corn_gris_600:#475569;
$corn_gris_700:#334155;
$corn_gris_800:#1e293b;
$corn_gris_900:#0f172a;


$corn_radius:10px;
$corn_shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
$corn_font_family: Roboto, sans-serif;


